*{
	font-family: Verdana, sans-serif;
}
body{
	margin-left: 15%;
	margin-right: auto;
	position: relative;
	margin-top: 20px;
	width: 75%;
}
#menu_links{
	position: fixed;
	flex-direction: column;
	display: flex;
	top: 10px;
	left: 10px;
	width: 220px;
	height: 500px;
	background-color: #ffffb3;
}
